# Core functionality - changes here should be rare!
/src/app.py                   @csonoda30
/src/backend/database.py      @csonoda30
/src/backend/routers/auth.py  @csonoda30

# The frontend will need refactored soon to be more object oriented.
/src/static/   @csonoda30
